.investmentspage__body {
  background-color: rgb(112, 23, 112);
}

.top-spacing {
  padding-top: 5%;
}

.white-text {
  color: white;
}

.tab {
  margin-right: 8px;
  background-color: white;
  border-style: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
