.investmentspage__body {
  background-color: #701770;
}

.top-spacing {
  padding-top: 5%;
}

.white-text {
  color: white;
}

.tab--active {
  margin-right: 8px;
  background-color: white;
  border-style: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tab--inactive {
  margin-right: 8px;
  background-color: rgb(201, 201, 201);
  border-style: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
